doctype html
html
  head
    title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.navbar-light.bg-faded.navbar-fixed-top
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Features
        li.nav-item
          a.nav-link(href='#') Pricing
        li.nav-item
          a.nav-link(href='#') About
    .container
      .content
        block content
    footer
      .container
        p
          | Copyright &copy; 2016 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js')
    script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js', crossorigin='anonymous')
